.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.approved {
  background-color: lawngreen;
}

.notApproved {
  background-color: red;
}

.error {
  margin: 0;
  margin-left: 1rem;
  color: red;
  width: fit-content;
  height: min-content;
  font-weight: bold;
}

.confirm-dialog {
  display: flex;
  align-items: center;
}

.success {
  margin: 0;
  margin-left: 1rem;
  color: blue;
  width: fit-content;
  height: min-content;
  font-weight: bold;
}
