<ng-template #targetForm>
  <app-social-performance-targets-form [propSid]="currentSalesman.sid" (clickEvent)="saveTargets($event)">
  </app-social-performance-targets-form>
  <span class="error" *ngIf="postError">{{postError}}</span>
  <span class="success" *ngIf="successMessage">{{successMessage}}</span>
</ng-template>

<div class="container" *ngIf="(bonusCompCollection && user); else targetForm" >
  <div class="bonus-header">
    <h1><b>Bonus Computation Sheet</b></h1>
  </div>
  <div class="salesman-container" >
    <p><app-year-selector [props]="createPropsYearSalesman()" (selectedEvent)="selectYearAndEmployee($event)"></app-year-selector></p>
  </div>
  <div *ngIf="permissionToViewFields()">
    <h1>Status</h1>
    <div class="dot" [ngClass]="{'approved' : bonusCompCollection.approvedByHR, 'notApproved' : !bonusCompCollection.approvedByHR}">HR</div>
    <br>
    <div class="dot" [ngClass]="{'approved' : bonusCompCollection.approvedByCEO, 'notApproved' : !bonusCompCollection.approvedByCEO}">CEO</div>
    <br>
  </div>

  <div *ngIf="permissionToViewFields()">
    <app-order-evaluation-dt [props]="createPropsOrderEval()"></app-order-evaluation-dt>
    <app-social-performance  [props]="createPropsSocialPerformance()"></app-social-performance>
  </div>


  <div class="right" *ngIf="permissionToViewFields() && permissionToConfirm()">
    <h1>C.) Confirm Bonus</h1>
    <button (click)="confirmBonusCompCollection()">
      Confirm Bonus
    </button>
  </div>

</div>

