.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
}

.approved{
  background-color: lawngreen;
}

.notApproved{
  background-color: red;
}
