<div class="container" *ngIf="bonusCompCollection">
  <div class="bonus-header">
    <h1><b>Bonus Computation Sheet</b></h1>
  </div>
  <div class="salesman-container" >
    <p><app-year-selector [props]="createProps()" (selectedEvent)="selectYear($event)"></app-year-selector></p>
  </div>
  <div *ngIf="permissionToViewFields()">
    <h1>Status</h1>
    <div class="dot" [ngClass]="{'approved' : bonusCompCollection.approvedByHR, 'notApproved' : !bonusCompCollection.approvedByHR}">HR</div>
    <br>
    <div class="dot" [ngClass]="{'approved' : bonusCompCollection.approvedByCEO, 'notApproved' : !bonusCompCollection.approvedByCEO}">CEO</div>
    <br>
  </div>

  <div *ngIf="permissionToViewFields()">
    <app-order-evaluation-dt [bonusCompCollection]="bonusCompCollection"></app-order-evaluation-dt>
    <app-social-performance  [bonusCompCollection]="bonusCompCollection"></app-social-performance>
  </div>


  <div class="right" *ngIf="permissionToViewFields() && permissionToConfirm()">
    <h1>C.) Confirm Bonus</h1>
    <button (click)="confirmBonusCompCollection()">
      Confirm Bonus
    </button>
  </div>

</div>

