.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.approved {
  background-color: lawngreen;
}

.notApproved {
  background-color: red;
}

.error {
  margin: 0;
  margin-left: 1rem;
  color: red;
  width: fit-content;
  height: min-content;
  font-weight: bold;
}

.confirm-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.success {
  margin: 0;
  color: blue;
  width: fit-content;
  height: min-content;
  font-weight: bold;
}

.confirmed-info {
  color: green;
}

button {
  float: right;
  background-color: #143970;
  color: white;
}

.right {
  margin-top: 1rem;
}

.remarks {
  border: 1px solid black;
}

.remarks p {
  margin: 1rem;
}

.remarks h1 {
  margin: 1rem;
}

.remarks-textarea {
  margin: 1rem;
  min-width: 50%;
}
