<!--<h1>B.) Social Performance Evaluation</h1>-->
<!--<table mat-table [dataSource]="data" class="full-width-table"-->
<!--       matSort matSortActive="created" matSortDisableClear matSortDirection="desc">-->
<!--  &lt;!&ndash; nameProduct Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="Criteria">-->
<!--    <th mat-header-cell *matHeaderCellDef>Criteria</th>-->
<!--    <td mat-cell *matCellDef="let element">Leadership Competence</td>-->
<!--  </ng-container>-->

<!--&lt;!&ndash;  &lt;!&ndash; Client Column &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-container matColumnDef="Client">&ndash;&gt;-->
<!--&lt;!&ndash;    <th mat-header-cell *matHeaderCellDef>Client</th>&ndash;&gt;-->
<!--&lt;!&ndash;    <td mat-cell *matCellDef="let element">{{element.client}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;  &lt;!&ndash; ClientRanking Column &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-container matColumnDef="Client Ranking">&ndash;&gt;-->
<!--&lt;!&ndash;    <th mat-header-cell *matHeaderCellDef>Client Ranking</th>&ndash;&gt;-->
<!--&lt;!&ndash;    <td mat-cell *matCellDef="let row">{{row.clientRanking}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;  &lt;!&ndash; Items Column &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-container matColumnDef="Items">&ndash;&gt;-->
<!--&lt;!&ndash;    <th mat-header-cell *matHeaderCellDef>Items</th>&ndash;&gt;-->
<!--&lt;!&ndash;    <td mat-cell *matCellDef="let row">{{row.items}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-container>&ndash;&gt;-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->

