<div class="container">
  <div class="bonus-header">
    Bonus Computation Sheet
  </div>
  <div class="salesman-container" *ngIf="salesman">
    <p>Name: {{salesman.first_name}} {{salesman.last_name}}</p>
    <p>EmployeeID: {{salesman.sid}}</p>
    <p>Department: {{salesman.department}}</p>
    <p>Year of Performance: {{yearOfPerformance}}</p>
  </div>

  <app-order-evaluation-dt class="dt-orders"></app-order-evaluation-dt>
  <app-social-performance class="dt-orders"></app-social-performance>

  <div class="right">
    <button mat-icon-button aria-label="Confirm" (click)="confirmBonus()" >
      Confirm Bonus
    </button>
  </div>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
</div>

