<head>
  <!-- MATERIAL CDN -->
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
    rel="stylesheet"
  />
</head>
<body>
<div class="container">

  <aside></aside>
  <!------------ BEGIN OF CENTRAL SECTION -------------->
  <main>
    <h1>Dashboard</h1>

    <div class="insights">
      <div class="sales">
        <span class="material-icons-sharp">analytics</span>
        <div class="middle">
          <div class="left">
            <h3>Product types</h3>
            <h1>{{numberOfProducts}}</h1>
          </div>
        </div>
      </div>
      <!------------ END OF SALES -------------->
      <div class="expenses">
        <span class="material-icons-sharp">people</span>
        <div class="middle">
          <div class="left">
            <h3>Total Salesmen</h3>
            <h1>{{salesmenCount}}</h1>
          </div>
        </div>
      </div>
      <!------------ END OF EXPENSES ---insights----------->
      <div class="income">
        <span class="material-icons-sharp">stacked_line_chart</span>
        <div class="middle">
          <div class="left">
            <h3>Total Sales {{year}}</h3>
            <h1>{{numberOfSales}}</h1>
          </div>
        </div>
      </div>
      <!------------ END OF INCOME -------------->
    </div>
    <!------------ END OF INSIGHTS -------------->

    <div class="salesman-data-table" *ngIf="salesmen">
      <div class="table-heading">
        <h2>Senior Salesman</h2>
        <mat-form-field appearance="fill" >
          <mat-label for="year-select">Year: </mat-label>
          <mat-select name="years" id="year-select" #t (selectionChange)="selectYear(t.value)" [value]="years[0]">
            <mat-option *ngFor="let year of years" [value]="year" >
              {{year}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <table>
        <thead>
        <tr>
          <th>Employee ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Department</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let salesman of salesmen">
          <td>{{salesman.sid}}</td>
          <td>{{salesman.first_name}}</td>
          <td>{{salesman.last_name}}</td>
          <td>{{salesman.department}}</td>
          <td class="primary" *ngIf="showSocialPerformance(salesman.sid) else noSocialPerformance" style="text-decoration: underline; text-decoration-color: orangered"><a style="color:#FF0000;" [routerLink]="[buttonEnterSocialPerformance.routerLink, salesman.sid, this.year]">Rate Social Performance</a></td>
          <td class="primary" *ngIf="showBonusCalculation(salesman.sid)" style="text-decoration: underline; text-decoration-color: orangered"><a style="color:#FF0000;" [routerLink]="[bonusCalculationLink, salesman.sid, this.year]">{{getBonusButtonTitle(salesman.sid)}}</a></td>
          <ng-template #noSocialPerformance>
            <td class="primary" *ngIf="showApprovedOrRated(salesman.sid)">{{checkApprovedOrRated(salesman.sid)}}</td>
          </ng-template>
        </tr>
        </tbody>
      </table>

    </div>
  </main>
  <!----------------- END OF MAIN -------------------->

  <!------------ BEGIN OF RIGHT SECTION -------------->
  <div class="right">
    <!--
    <div class="top">
      <button id="menu-btn">
        <span class="material-icons-sharp">menu</span>
      </button>
      <div class="profile">
        <div class="info">
          STATIC
          <p><b>Michael Moore</b></p>
          <small class="text-muted">CEO</small>
        </div>
      </div>
    </div>
    -->
    <!-- END OF TOP -->
  </div>
</div>

</body>
