<mat-list>
  <mat-list-item>Name: {{props.selectedSalesman?.first_name}} {{props.selectedSalesman?.last_name}}</mat-list-item>
  <mat-list-item>Department: {{props.selectedSalesman?.department}}</mat-list-item>
  <mat-list-item>SID: {{props.selectedSalesman?.sid}}</mat-list-item>
</mat-list>
<div>
  <mat-form-field appearance="fill" >
    <mat-label for="year-select">Year: </mat-label>
    <mat-select name="years" id="year-select" #t (selectionChange)="selectYearOrEmployee(t.value)" [value]="props.selectedYear">
      <mat-option *ngFor="let year of years" [value]="year" >
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>