<div class="container">
  <h1>Social Performance</h1>
  <div class = "card" *ngIf="salesman">
    <div class="card-content">
      <mat-label>Name: {{salesman.first_name}} {{salesman.last_name}}</mat-label>
      <p>EmployeeID: {{salesman.sid}}</p>
      <p>Department: {{salesman.department}}</p>
      <empl></empl>
      <br/>
    </div>
    <br>
  </div>
<!--  <app-social-performance-form [salesmanID]="salesman.sid"></app-social-performance-form>-->
  <app-social-performance-form *ngIf="salesman" [currentSalesmanId]="salesman.sid"></app-social-performance-form>
</div>
